{% extends 'base.html.twig' %}
{% form_theme formAddEditMember 'bootstrap_4_layout.html.twig' %}
{% block body%}
    <div class="m-3 p-2">
            {% if etatButton ==1 %}
                <h1>Modification d'un membre</h1>
            {% else %}
                <h1>Ajout d'un membre</h1>
            {% endif %}
            <hr>
            {{ form_start(formAddEditMember) }}
                {{ form_row(formAddEditMember.pseudo , {'attr':{'placeholder':"Pseudo du membre"}}) }}
                {{ form_row(formAddEditMember.nom , {'attr':{'placeholder':"Nom du membre"}}) }}
                {{ form_row(formAddEditMember.prenom , {'attr':{'placeholder':"Prénom du membre"}}) }}
                {{ form_row(formAddEditMember.email , {'attr':{'placeholder':"Email du membre"}} ) }}
                {{ form_row(formAddEditMember.mdp , {'attr':{'placeholder':"Mot de passe "}}) }}
                {{ form_row(formAddEditMember.civilite , {'attr':{'placeholder':"Vivilité du membre"}}) }}
                {{ form_row(formAddEditMember.statut , {'attr':{'placeholder':"Statut du membre"}}) }}
                {% if etatButton==0%}
                    <button type="submit" class="btn btn-success mt-3">Ajouter le membre</button>
                {% else %}
                    <button type="submit" class="btn btn-primary mt-3">Modifier le membre</button>
                {% endif %}
            {{ form_end(formAddEditMember) }}
    </div>
{% endblock %}