{% extends 'base.html.twig' %}
{% form_theme formProfil 'bootstrap_4_layout.html.twig' %}
{% block body%}
    <style>
        .divCentral{
            border-radius:20px;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
        }
        button{
            border-radius:20px;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
        }
        .profilInput{
            border-radius:20px;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
        }
        a{
            color:white;
        }
    </style>
    <div class="m-4 p-5 divCentral">
            <button class="btn btn-primary ">
                <a class="" href="{{ path('app_home') }}">
                    <i class="fas fa-home"></i>
                </a>
            </button>
            <h1 style=" text-align: center;">Profile</h1>
            <hr style="width: 550px; margin: 30px auto;">
            {{ form_start(formProfil) }}
                {{ form_row(formProfil.pseudo , {'attr':{'placeholder':"Pseudo du membre"}}) }}
                {{ form_row(formProfil.nom , {'attr':{'placeholder':"Nom du membre"}}) }}
                {{ form_row(formProfil.prenom , {'attr':{'placeholder':"Prénom du membre"}}) }}
                {{ form_row(formProfil.email , {'attr':{'placeholder':"Email du membre"}} ) }}
                {{ form_row(formProfil.mdp , {'attr':{'placeholder':"Mot de passe "}}) }}
                {{ form_row(formProfil.civilite , {'attr':{'placeholder':"Vivilité du membre"}}) }}
                <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            {{ form_end(formProfil) }}
    </div>
{% endblock %}