{% extends 'base.html.twig' %}
{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}
{% block body %}
<style>
    .example-wrapper { 
        margin: 1em auto; 
        max-width: 1300px;
         width: 100%; 
         font: 18px/1.5 sans-serif; 
    }
    a{
        text-decoration:none;
        color : white;
    }
    table{
        text-align:center;
    }
    button{
        border-radius:20px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    tr,td{
        cursor: pointer;
    }
    .loginout{
        width:200px;
        right:10px;
        top: 5px;
        position:absolute;
    }
    .loginout button {
        margin:20px;
    }
    .login button {
        margin:20px;
    }
    .login{
        width:200px;
        right:10px;
        top: 5px;
        position:absolute;
    }
    nav{
        height:80px;
    }
    .searchInput{
        border-radius:20px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
        width:650px;
        top:20px;
        right:340px;
        position: absolute;
    }
    .searchBtn{
        border-radius:40px;
        right:280px;
        top: 5px;
        position:absolute;
    }
    .pageTitle{
        font-size:35px;
        right:1000px;
        top: 5px;
        position:absolute;
    }
    .addBtn{
        border-radius:40px;
        right:190px;
        top: 5px;
        position:absolute;
        width:40px;
        height:40px;
        justify-content:center;
    }
</style>

<div class="example-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow  m-5 bg-body rounded  text-center">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder mx-5 pageTitle" href="{{ path('app_vehicule') }}">Vehicule</a>
            <div class="collapse navbar-collapse mx-5" id="navbarColor03">
                    <ul class="navbar-nav me-auto ">
                        {% if statutUser == 1 %}
                            <button class="btn btn-primary mt-3 addBtn">
                                <a class="" href="{{ path('app_vehicule_add') }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </button>
                        {% endif %}
                        <li>
                            {{ form_start(formSearch) }}
                                {{ form_row(formSearch.champs, {'attr': {'placeholder': "Tapez ...."}}) }}
                                <button type="submit" class="btn btn-primary mt-3 searchBtn">
                                    <i class="fas fa-search"></i> 
                                </button>
                            {{ form_end(formSearch) }}

                        </li>
                        <li>
                            {% if idMember %}
                                <div class="loginout">
                                    <button type="submit" class="btn btn-primary mt-3">
                                        <a  href="{{ path('app_profil', {'id':idMember}) }}">
                                            <i class="fas fa-user"></i>
                                        </a>
                                    </button>
                                    <button type="submit" class="btn btn-primary mt-3">
                                        <a  href="{{ path('app_member_logout') }}">
                                            <i class="fas fa-sign-out"></i>
                                        </a>
                                    </button>
                                </div>
                            {% else %}
                                <div class="login">
                                    <button type="submit" class="btn btn-primary mt-3">
                                        <a  href="{{ path('app_member_login') }}">
                                            <i class="fas fa-user"></i>
                                        </a>
                                    </button>
                                </div>
                            {% endif %}

                        </li>
                    </ul>

            </div>
        </div>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Vehicule</th>
                <th scope="col">Titre</th>
                <th scope="col">Marque</th>
                <th scope="col">Modele</th>
                <th scope="col">Description</th>
                <th scope="col">Photo</th>
                <th scope="col">Prix</th>
                <th scope="col">Date d'enregistrement</th>
                <th scope="col">Disponible</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% if vehicules%}
                {% for vehicule in vehicules %}
                        <tr>
                            <td scope="col">{{vehicule.id}}</td>
                            <td scope="col">{{vehicule.titre}}</td>
                            <td scope="col">{{vehicule.marque}}</td>
                            <td scope="col">{{vehicule.modele}}</td>
                            <td scope="col">{{vehicule.description}}</td>
                            <td scope="col">
                                <img src="{{ asset('vehicules_directory/' ~ vehicule.photo)}}" style="width: 70px; height: 70px; border: 2px solid #ccc;">
                            </td>
                            <td scope="col">{{vehicule.getPrixJournalier}} $</td>
                            <td scope="col">{{vehicule.getDateEnregistrement | date('d/m/y') }}</td>
                            <td scope="col">{{vehicule.available }}</td>
                            {% if statutUser ==0%}
                                <td scope="col">
                                    <button type="button" class="btn btn-success btn-sm">
                                        <a href="{{ path('app_commande_add',{'id':vehicule.id,'idMember':idMember})}}">
                                            réserver
                                        </a>
                                    </button>
                                </td>
                            {% else %}
                            <td scope="col">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a href="{{ path('app_vehicule_edit',{'id':vehicule.id})}}">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="{{ path('app_vehicule_delete',{'id':vehicule.id})}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </button>
                            </td>
                            {% endif %}

                        </tr>
                   {% endfor %}
                {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
