{% extends 'base.html.twig' %}
{% form_theme formDatePicker 'bootstrap_4_layout.html.twig' %}
{% block body %}
<style>
    .example-wrapper { 
        height:715px;
        width: 100%; 
        font: 18px/1.5 sans-serif; 
        background: url('/images/pexels-oziel-gómez-849835.jpg') no-repeat;
        background-size:cover;
        background-position:center;
        
    }
    .example-wrapper code { 
        padding: 2px 6px; 
    }
    .datePicker{
        width:420px;
        padding:20px;
        text-align:center;
        border-radius:20px;
        box-shadow: 2px 1px 4px 5px rgba(0, 0, 0, 0.2);
        position:absolute;
        right:85px;
        top:280px;
        font-weight: bold;
        cursor:pointer;
    }
    .datePicker .datepickerItem{
        display: flex;
        justify-content: flex-start;
    }
    .title{
        border-radius:20px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
        width:890px;
        text-align:center; 
        font-size:50px;
        position:absolute;
        right:330px;
        top:35px;
    }
    .title h1{
        font-family:"Brush Script MT, Brush Script Std, cursive";font-size:50px;
    }
    h5{
        font-size:30px;
        position:absolute;
        right:195px;
        top:230px;
    }
    
</style>

<div class="example-wrapper">
    <div class="title">
        <h1>Bienvenue à bord</h1>
        <h4>Location de voiture 24H/24 7j/7</h4>
    </div>
    <h5>Book ta voiture</h5>
    <div class="datePicker">
        {{ form_start(formDatePicker) }}
            {{ form_label(formDatePicker.datedebut,null,{'label_attr':{'class':'datepickerItem'}}) }}
            {{ form_widget(formDatePicker.datedebut) }}
            {{ form_label(formDatePicker.datefin,null,{'label_attr':{'class':'datepickerItem'}}) }}
            {{ form_widget(formDatePicker.datefin) }}
            <button type="submit" class="btn btn-success mt-3">Valider</button>
        {{ form_end(formDatePicker) }}
    </div>
</div>
{% endblock %}
